<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accesstoken List</title>
</head>
<body>
    <h1>Accesstoken List</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Created At</th>
                <th>Access Cookie</th>
                <th>Public Wallet Address</th>
                <th>Token Balance</th>
                <th>Is Scam Filter On?</th>
            </tr>
        </thead>
        <tbody>
            {% for accesstoken in accesstokens %}
                <tr>
                    <td>{{ accesstoken.created_at }}</td>
                    <td>{{ accesstoken.access_cookie }}</td>
                    <td>{{ accesstoken.public_wallet_address }}</td>
                    <td>{{ accesstoken.token_balance }}</td>
                    <td>{{ accesstoken.is_scam_filter_on }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
