<!DOCTYPE html>
<html>
  {% load static %}
<head>

<title>Pump Fun Club</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 

<!-- Include Solana SPL Token library --> 
<script src="https://unpkg.com/@solana/web3.js@latest/lib/index.iife.min.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/web3@4.10.0/dist/web3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@solana/spl-token@0.4.6/lib/cjs/index.min.js"></script> 

<link rel="stylesheet" href="static/css/style.css">
<script>
    var csrf_token = '{{ csrf_token }}';

    function getCartProductCount() {
      $.ajax({
          url: '/check_cart_count/',
          type: 'GET',
          dataType: 'json',
          success: function(response) {
              if(response.status === 'success') {
                  $("#cart_product_count").text(response.count);
                  console.log("Number of items in cart: " + response.count);
              } else {
                  console.log("Error: " + response.message);
              }
          },
          error: function(xhr, status, error) {
              console.log("An error occurred: " + error);
          }
      });
    }
    function addToCartAjax(productId) {
        // Create an AJAX request to the Django view
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/add_to_cart/');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader("X-CSRFToken", csrf_token);
        let quantityElement = document.getElementById("quantity");
        let quantity = quantityElement !== null ? quantityElement.value : null;

        if (!quantity) {
            quantity = 1;
        }
        xhr.onload = function() {
            if (xhr.status === 200) {
                getCartProductCount();
            } else {
                alert('An error occurred while adding the product to the cart');
            }
        };
        xhr.send(`product_id=${productId}&quantity=${quantity}`);
    }
    function getIndex_Products(pageNumber, search_key) {
      $.ajax({
        url: "index_products?page=" + pageNumber + "&search_key=" + encodeURIComponent(search_key),
        type: "GET",
        success: function(response) {
          $("#home").html(response);
        }
      });
    }
    $(document).ready(function(){
        getCartProductCount();
        let searchKey = $("#search_key").val();
        getIndex_Products(1, searchKey);
    });

    function submitForm() {

      const query = document.getElementById('search_query').value;
      const xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          if (xhr.status === 200) {
            const response = xhr.responseText;
            document.getElementById('askResponse').innerHTML = response;
            document.getElementById('search_key').value = document.getElementById('search_text').value
            let search_key = document.getElementById('search_key').value;
            getIndex_Products(1, search_key);
          } else {
            alert('Oops! Something went wrong. There was an error. Please try again.');
          }
        }
      };

      xhr.open('GET', `/ask/?search_query=${query}`);
      xhr.send();
    }
</script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="/">Pump Fun Club</a> 
    </div>
  </nav>

  <div class="container mt-2">
      {% block content %}{% endblock %}
  </div>

  <footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
      Find us on x <a href="https://x.com/pumpfunclubsol">@pumpfunclubsol</a>
       2023 Copyright:
      <a class="text-dark" href="https://pumpfunclub.com/">pumpfunclub.com</a>
    </div>
    <!-- Copyright -->
  </footer>

</body> 

  
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YREQE5NY5B"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YREQE5NY5B');
</script>
</html>
