{% extends 'base.html' %}

{% load custom_filters %}


{% block content %}
<script>
  // Function to refresh the page every 2 seconds
  function refreshPage() {
    setTimeout(function() {
      window.location.reload();
    }, 3000); // 2000 milliseconds = 2 seconds
  }
  
  // Call the function when the page loads
  window.onload = function() {
    refreshPage();
  };
</script>

<!-- Displaying JSON data -->
<section class="py-1">
  <div class="container-fluid">

      <div class="row">
        <div class="col-md-12"> 
          <p>Tired of constant refreshes for latest token lists on Pump.Fun, always late for the snipe? Let Pump Fun Club handle it for you! Our automated system ensures you're always up-to-date, saving you time and hassle. Join now for smoother, safer trading. Elevate your PumpFun experience today!
          <BR>  
          TOKEN <a href="" ></a>
          </p>
      </div>
      </div>        
      <div class="row">
          {% for item in json_data %}
          <div class="col-md-6">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title"><a href="https://www.pump.fun/{{ item.mint }}" >{{ item.name }}</a></h5>
                      <p class="card-title">{{ item.symbol }}</p>
                      <p class="card-title">{{ item.market_cap }}</p>
                      <p class="card-text">{{ item.description }}  

                        {% if item.twitter %}
                            <BR><a href="{{ item.twitter }}">{{ item.twitter }}</a>
                        {% endif %}
                        
                        {% if item.telegram %}
                            <BR><a href="{{ item.telegram }}">{{ item.telegram }}</a>
                        {% endif %}
                    
                      </p>
                      
                      <img src="https://pump.mypinata.cloud/ipfs/{{ item.image_uri|get_last_segment }}" style="max-width: 50%; height: auto;" />

                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
</section>  
{% endblock %}
