{% extends 'base.html' %}

{% load custom_filters %}


{% block content %}
<div style="display: flex; align-items: center;">
<input class="form-control mr-sm-2" type="search" placeholder="..." aria-label="Search" id="search_query" name="search_query"  >
<button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="submitForm()" >Ask</button>
</div>
<HR>
<div  id="askResponse" id="askResponse" >

</div>
<HR>
  <div  id="home" id="home" >

  </div>

<!-- Displaying JSON data -->
<section class="py-5">
  <div class="container-fluid">
      <div class="row">
          {% for item in json_data %}
          <div class="col-md-6">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">{{ item.name }}</h5>
                      <h3 class="card-title">{{ item.symbol }}</h3>
                      <p class="card-text">{{ item.description }}</p>
                      <a href="https://www.pump.fun/{{ item.mint }}" class="btn btn-primary">Visit Website</a>   
                      <img src="https://pump.mypinata.cloud/ipfs/{{ item.image_uri|get_last_segment }}" style="max-width: 100%; height: auto;" />

                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
</section>  
{% endblock %}
