{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}
<script>
  // Variable to keep track of displayed tokens
  let displayedTokens = new Set();
  // Function to fetch and update data every 3 seconds
  function fetchAndUpdateData() {
    // Define the URL to fetch data from
    const url = "/marketcap_json/";

    // Make a GET request to fetch data
    fetch(url)
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        console.log('Fetched data:', data); // Log fetched data for debugging

        // Update token count
        document.getElementById('totalTokenCount').textContent = data.total_token_count;

        // Remove the loading GIF if it exists
        const loadingGif = document.getElementById('loadingGif');
        if (loadingGif) {
          loadingGif.remove();
        }

        // Iterate over each token and append new tokens at the top
        data.tokens.reverse().forEach(token => { // Reverse the array to prepend in order
          // Check if token ID is not in displayedTokens set
          if (!displayedTokens.has(token.id)) {
            const tokenListElement = document.getElementById('tokenList');

            var encodedImageUrl = encodeURIComponent(token.image_uri);
            const tokenItem = document.createElement('div');
            tokenItem.className = 'col-md-4 token-item';
            const symbolStyle = (token.symbol.startsWith('$') || token.symbol !== token.symbol.toUpperCase() || token.symbol.length > 6) ? 'color: red;' : '';

            
//          const hasSocialLinks = !(token.twitter === null || token.twitter === '' || token.telegram === null || token.telegram === '' || token.website === null || token.website === '');
            



            tokenItem.innerHTML = `
              <div class="card">
                <div class="card-body bg-dark text-white"> 
                  <div>Ticker: 
                    <b style="${symbolStyle}">
                    ${token.symbol} <a href="https://x.com/search?q=%24${token.symbol}&src=typed_query&f=top" target="_blank"><i class="fab fa-twitter"></i></a>               
                    </b>               
                    (<a href="/marketcap_async_search/?search_name=symbol&search_value=${token.symbol}" > 
                      <span id="count_${token.mint}_symbol" ><img src="/static/images/load.circle.gif" style="height: 1em;"></span>
                    </a>)
                  </div>
                  <div><span class="text-xxs"><a href="/token/${token.mint}/" class="text-xxs">${token.mint}</a>
                    <a href="https://x.com/search?q=%24${token.mint}&src=typed_query&f=top" target="_blank"><i class="fab fa-twitter"></i></a>
                    (<span id="count_${token.mint}_bundle" ><img src="/static/images/load.circle.gif" style="height: 1em;" alt="Checks if the token has been bundled"></span>)
                  </div>
                  <div>Name: 
                  <a href="javascript:void(0);" onclick="window.open(\'https://www.pump.fun/${token.mint}\', \'newwindow\', \'width=1200, height=2100\'); return false;">${token.name}</a>
                    
                  (
                    <a href="/marketcap_async_search/?search_name=name&search_value=${token.name}" >   
                  <span id="count_${token.mint}_name"><img src="/static/images/load.circle.gif" style="height: 1em;"></span>
                    </a>  
                  )
                  </div>
                  <div>
                    <a href="https://backup.bullx.io/terminal?chainId=1399811149&address=${token.mint}" target="_blank" >BullX</a>

                       
                  </div>
                  <div>Image URI: 
                    <a href="https://lens.google.com/uploadbyurl?url=${encodedImageUrl}" target="_blank"><i class="fas fa-search"></i></a>

                    (<a href="/marketcap_async_search/?search_name=image_uri&search_value=${token.image_uri}" > 
                    <span id="count_${token.mint}_image_uri" ><img src="/static/images/load.circle.gif" style="height: 1em;"></span>
                    </a>)

                    <img src="${token.image_uri}" style="width: 100%;">
                    </div>
                    <div>
                      X: ${token.twitter ? (token.twitter.includes('t.me') ? `<a href="${token.twitter}" target="_blank" style="color: red;">${token.twitter.substring(0, 20)}...</a>` : `<a href="${token.twitter}" target="_blank">${token.twitter.substring(0, 20)}...</a>`) : `<span style="color: red;">NONE</span>`}
                      ${token.twitter ? `(<a href="/marketcap_async_search/?search_name=twitter&search_value=${token.twitter}" ><span id="count_${token.mint}_twitter" ><img src="/static/images/load.circle.gif" style="height: 1em;"></span></a>)` : ''}
                    </div>

                    <div>
                      Telegram: ${token.telegram ? (token.telegram.includes('x.com') ? `<a href="${token.telegram}" target="_blank" style="color: red;">${token.telegram.substring(0, 20)}...</a>` : `<a href="${token.telegram}" target="_blank">${token.telegram.substring(0, 20)}...</a>`) : `<span style="color: red;">NONE</span>`}
                      ${token.telegram ? `(<a href="/marketcap_async_search/?search_name=telegram&search_value=${token.telegram}" ><span id="count_${token.mint}_telegram"  >-</span></a>)` : ''}
                    </div>
                  <div>Website: ${token.website ? `<a href="${token.website}" target="_blank">${token.website}</a>` : `<span style="color: red;">NONE</span>`}
                  
                    ${token.website ? `(<a href="/marketcap_async_search/?search_name=website&search_value=${token.website}" ><span id="count_${token.mint}_website" ><img src="/static/images/load.circle.gif" style="height: 1em;"></span></span></a>)` : ''}
                  </div>                  
                  <div>Creator: 
                  (<a href="/marketcap_async_search/?search_name=creator&search_value=${token.creator}" ><span id="count_${token.mint}_creator"  ><img src="/static/images/load.circle.gif" style="height: 1em;"></span></a>)
                  (<span id="count_${token.mint}_creatorbalance" ><img src="/static/images/load.circle.gif" style="height: 1em;"></span>)
                  <span class="text-xxs">${token.creator}</span>
                  </div>
                  <div>
                      Search X 
                    <a href="https://x.com/search?q=${token.mint}&src=typed_query" target="_blank" >CA</a> |
                    <a href="https://x.com/search?q=${token.name}&src=typed_query" target="_blank" >Name</a> |
                    <a href="https://x.com/search?q=%24${token.symbol}&src=typed_query" target="_blank" >Symbol</a>
                  </div>
                  <div>
                      Items <span id="count_${token.mint}_items" ><img src="/static/images/load.circle.gif" style="height: 1em;"></span> |
                      Total <span id="count_${token.mint}_total" ><img src="/static/images/load.circle.gif" style="height: 1em;"></span> |
                      Rate <span id="count_${token.mint}_rate" ><img src="/static/images/load.circle.gif" style="height: 1em;"></span>

                      <audio id="audio_${token.mint}" >
                        <source src="/static/sounds/audioSound.trump.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                      </audio>                            
                  </div>  

                </div>
              </div>
            `;

            // Prepend token item to tokenListElement 
            tokenListElement.insertBefore(tokenItem, tokenListElement.firstChild);
            // Add token ID to displayedTokens set
            displayedTokens.add(token.id);
            //getCountByNameAndValue(`count_${token.mint}_name`, 'name', token.name);
            //getCountByNameAndValue(`count_${token.mint}_symbol`, 'symbol', token.symbol);
            if (document.getElementById(`count_${token.mint}_twitter`)) {
              //getCountByNameAndValue(`count_${token.mint}_twitter`, 'twitter', token.twitter);
            }
            if (document.getElementById(`count_${token.mint}_telegram`)) {
              //getCountByNameAndValue(`count_${token.mint}_telegram`, 'telegram', token.telegram);
            }
            //getCountByNameAndValue(`count_${token.mint}_creator`, 'creator', token.creator);

            if (document.getElementById(`count_${token.mint}_website`)) {
              //getCountByNameAndValue(`count_${token.mint}_website`, 'website', token.website);
            }  
            getCountByNameAndValue(`count_${token.mint}_image_uri`, 'image_uri', token.image_uri);
            //getCountBundleTrans(`count_${token.mint}_bundle`, token.mint);
            //getCreatorBalance(`count_${token.mint}_creatorbalance`, token.creator);
            var audio = document.getElementById('audio_${token.mint}');
            if (audio) {
                audio.play();
            }            
          }
        });
      })
      .catch(error => {
        console.error('There was a problem with the fetch operation:', error);
      });
  }

  function getCountBundleTrans(elementId, mintToken) {
  // Construct the URL with the mintToken parameter
  const url = `https://sel.pumpfunclub.com/bundlecheckerview/?&ca_address=${mintToken}`;

  // Perform the fetch operation
  const timeout = 20000; // 10 seconds

// Perform the fetch operation
  fetch(url, { timeout: timeout })
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {
      // Update the count on the page
      const countElement = document.getElementById(elementId);
      if (countElement) {
        countElement.textContent = data.number_of_transactions;
      } else {
        console.error(`Element with id ${elementId} not found.`);
      }
    })
    .catch(error => {
      console.error('Error fetching bundle transaction count:', error);
    });
}

function getCreatorBalance(elementId, mintAddress) {
  // Construct the URL with the mintToken parameter
  const url = `https://sel.pumpfunclub.com/get_wallet_balance/?&wallet_address=${mintAddress}`;

  // Perform the fetch operation
  const timeout = 15000; // 10 seconds

// Perform the fetch operation
  fetch(url, { timeout: timeout })
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {
      // Update the count on the page
      const countElement = document.getElementById(elementId);
      if (countElement) {
        countElement.textContent = data.number_of_transactions;
      } else {
        console.error(`Element with id ${elementId} not found.`);
      }
    })
    .catch(error => {
      console.error('Error fetching bundle transaction count:', error);
    });
}
  // Call fetchAndUpdateData initially
  window.addEventListener('load', fetchAndUpdateData);

  // Set interval to fetch data every 3 seconds
  setInterval(fetchAndUpdateData, 3000); // 3000 milliseconds = 3 seconds
</script>

<!-- Displaying JSON data -->
<section class="py-0">
  <div class="container-fluid">
    
    <div class="row justify-content-center mt-3">
      <div class="col-md-12 text-center">      
        <h3 class="bg-dark text-white">Meme coins are like new songs: you know within seconds if it's a hit or miss!</h3>
        <p>
          {% if access_token %}
              <input type="hidden" id="isScamFilterOn" name="isScamFilterOn" value="{{ access_token.is_scam_filter_on }}">
              <button id="toggleScamFilterBtn" class="btn btn-primary">Toggle Scam Filter</button>
          {% endif %}
        </p>
        <p><div id="walletAddress"></div>  </p>
        <p><button id="connectButton" class="btn btn-primary">Connect to Phantom</button> </p> 
        <p id="tokenBalance">Pump Fun Club Token balance: </p> 
        <p>Pump Fun Club CA: <a href="https://www.pump.fun/DF2LXZ9msqFihobc8MVMo8fL7zPfLjJbuNTR1JMCpump" >DF2LXZ9msqFihobc8MVMo8fL7zPfLjJbuNTR1JMCpump</a></p> 
        <p><small>To unlock the full potential of the Pump Fun Club, 
          please ensure you are signed in with a Phantom wallet. 
          Elevated access requires a minimum of 1 million Pump Fun Club tokens. 
          If you see a count of -1, it means you need to sign in or meet the token 
          requirement to view the totals instead of -1.</small></p>
      </div>
    </div>    
    

    <div class="row justify-content-center mt-3"> 
      <div class="col-md-12 text-center">
        We have recorded <B><span id="totalTokenCount">{{ total_token_count }}</span></B> tokens from Pump.Fun launches in our database, helping you find the next gem that does 100x.
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-md-12 text-center">
        <form action="/marketcap_async_search/" method="get" class="form-inline justify-content-center">
          <div class="form-group mx-2">
            <label for="search_value" class="mr-2">Search</label>
            <input type="text" class="form-control" id="search_value" name="search_value" required>
          </div>
          <button type="submit" class="btn btn-primary">Go</button>
        </form>
      </div>
    </div>
    <div id="tokenList" class="row mt-3">
      <!-- Tokens will be populated here -->
      <div id="loadingGif" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <img src="https://pumpfunclub.com/static/images/loading.large.gif" alt="Loading Image" style="width: 80%;" />
      </div>
    </div>
  </div>
</section>
<script>
  function getCountByNameAndValue(id, name, value) {
    // Define the base URL

    const idParts = id.split('_');
    const secondItem = idParts[1]; // Assuming id is in the format like "count_item_total"

    // Construct the new element id
    const newElementId = `count_${secondItem}_total`;
    const newElementId_items = `count_${secondItem}_items`;
    const newElementId_rate = `count_${secondItem}_rate`;

    const baseURL = "/get_count/";

    const encodedName = encodeURIComponent(name);
    const encodedValue = encodeURIComponent(value);

    const url = `${baseURL}?column_name=${encodedName}&value=${encodedValue}`;
      
  
    // Make a GET request to the constructed URL
    fetch(url)
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        // Extract the occurrences count from the response data
        const occurrences = data.occurrences;
        
        let element_total = document.getElementById(newElementId);
        let element_items = document.getElementById(newElementId_items);
        let element_rate = document.getElementById(newElementId_rate);

        // Check if the innerHTML is not an integer, set it to zero
        if (isNaN(parseInt(element_total.innerHTML))) {
          element_total.innerHTML = '0';
        }
        if (isNaN(parseInt(element_items.innerHTML))) {
          element_items.innerHTML = '0';
        }
        // Add the occurrences to the current count
        element_total.innerHTML = parseInt(element_total.innerHTML) + occurrences;
        element_items.innerHTML = parseInt(element_items.innerHTML) + 1;
        element_rate.innerHTML  = (parseInt(element_total.innerHTML) / parseInt(element_items.innerHTML)).toFixed(2);

        // Update the content of the dynamically created span element with the count
        document.getElementById(id).textContent = `${occurrences}`;
        let element = document.getElementById(id);
        if (occurrences > 1) {
          element.style.color = 'red';
          var isScamFilterOn = document.getElementById('isScamFilterOn').value;
          if (isScamFilterOn === 'True' || isScamFilterOn === 'true' || isScamFilterOn === true) {
            if(name != 'name' && name != 'symbol' && name != 'creator'){
              var audio = document.getElementById('audio_' + secondItem);
              if (audio) {
                  audio.pause();
              }                
              //element.parentElement.parentElement.parentElement.style.display = 'none';
              element.parentElement.parentElement.parentElement.remove();
            }
          }
        } else {
          element.style.color = 'green';
        }        
      })
      .catch(error => {
        console.error('There was a problem with the fetch operation:', error);
      });
  }
</script> 
<script>
  // Function to convert ArrayBuffer to Base64
  function arrayBufferToBase64(buffer) {
    let binary = '';
    const bytes = new Uint8Array(buffer);
    const len = bytes.byteLength;
    console.log('test');
    console.log(len);
    for (let i = 0; i < len; i++) {
        binary += String.fromCharCode(bytes[i]);
        console.log(binary);
    }
    return window.btoa(binary);
  }

  document.getElementById('connectButton').addEventListener('click', async () => {
    if (window.solana && window.solana.isPhantom) {
      try {
        // Connect to Phantom wallet
        const response = await window.solana.connect();
        console.log('Connected to Phantom wallet');

        // Update the page with the connected wallet address
        document.getElementById('walletAddress').textContent = `Connected wallet: ${response.publicKey.toString()}`;

        // Sign a message and print it to the console
        const message = new TextEncoder().encode('Hello from Pump Fun Club!');
        const signedMessage = await window.solana.signMessage(message);
        console.log('Message signed:', signedMessage);

        // Convert the signature bytes to Base64 

        const signature = signedMessage.signature;

        // Convert the signature data to Base64
        const signatureBase64 = arrayBufferToBase64(signature);
 

        console.log('Message signed (Base64):', signatureBase64);
        const verifySignatureUrl = `/verify_signature/?publicKey=${response.publicKey.toString()}&signature=${encodeURIComponent(signatureBase64)}`;

        // Example function to send GET request to Django view
        async function verifySignature() {
            try {
                const response = await fetch(verifySignatureUrl);
                if (!response.ok) {
                    throw new Error('Failed to verify signature.');
                }
                const result = await response.json();
                console.log('Verification Result:', result);

                // Assuming result.valid is a boolean indicating verification status
                if (result.valid) {
                    // Change text color to green
                    document.getElementById('tokenBalance').style.color = 'green';
                    document.getElementById('connectButton').style.display = 'none';
                } else {
                    // Optionally handle non-verified state
                    document.getElementById('tokenBalance').style.color = 'black'; // Or default color
                }

            } catch (error) {
                console.error('Verification Error:', error.message);
            }
        }

        verifySignature();


        // Fetch the balance of a specific SPL token
        const tokenMintAddress = 'DF2LXZ9msqFihobc8MVMo8fL7zPfLjJbuNTR1JMCpump'; // Replace with the actual SPL token mint address
        const rpcUrl = 'https://solana-mainnet.g.alchemy.com/v2/brUu7bUWYqnL02KEqM_k1GWoLgTtkGvg'; // Replace with your QuickNode URL
        console.log('RPC URL:', rpcUrl);
        const connection = new solanaWeb3.Connection(rpcUrl);

        const tokenAccounts = await connection.getParsedTokenAccountsByOwner(response.publicKey, {
          mint: new solanaWeb3.PublicKey(tokenMintAddress)
        });

        let tokenBalance = 0;
        if (tokenAccounts.value.length > 0) {
          tokenAccounts.value.forEach(accountInfo => {
            tokenBalance += accountInfo.account.data.parsed.info.tokenAmount.uiAmount;
          });
        }

        console.log(`Token balance: ${tokenBalance}`);
        document.getElementById('tokenBalance').textContent = `Token balance: ${tokenBalance}`;

      } catch (error) {
        console.error('Error connecting to Phantom wallet:', error);

        // Detailed error logging
        if (error.response && error.response.status === 403) {
          console.error('403 Forbidden error: You may have been rate-limited or have incorrect headers.');
        } else {
          console.error('Other error:', error.message);
        }
      }
    } else {
      alert('Phantom wallet not found');
    }
  });
</script>
<script>
  // JavaScript to handle the button click and AJAX request
  document.getElementById('toggleScamFilterBtn').addEventListener('click', function() {
      // Get the current value of the hidden field
      var isScamFilterOn = document.getElementById('isScamFilterOn').value;

      $.ajax({
          url: '/toggle-scam-filter/',
          type: 'POST',
          data: {
              isScamFilterOn: isScamFilterOn  // Include the hidden field value in the request
          },
          headers: {
              'X-CSRFToken': '{{ csrf_token }}'  // Add the CSRF token for security
          },
          success: function(response) {
              if (response.success) {
                  alert('Scam filter status: ' + (response.is_scam_filter_on ? 'ON' : 'OFF'));
                  
                  // Update the hidden field value based on the response
                  document.getElementById('isScamFilterOn').value = response.is_scam_filter_on;
              } else {
                  alert('Failed to toggle scam filter.');
              }
          },
          error: function(xhr, status, error) {
              alert('Error: ' + error);
          }
      });
  });
</script>
<script>
function executeBothEvents(event) {
    event.preventDefault(); // Prevent the default behavior of the button

    // Find the parent <a> element
    var linkElement = event.target.closest('a');

    // Execute the onclick event of the <a> element
    if (linkElement) {
        linkElement.onclick();
    }

    // Call the speakText function
    speakText(event);
}  
  function speakText(event) {
      // Create a new instance of SpeechSynthesisUtterance
      const message = new SpeechSynthesisUtterance();

      // Set the text to the button's text content
      message.text = event.target.textContent;

      // Optionally, set speech parameters
      message.volume = 1; // 0 to 1
      message.rate = 1;   // 0.1 to 10
      message.pitch = 1;  // 0 to 2

      // Get available voices and choose one
      const voices = window.speechSynthesis.getVoices();
      message.voice = voices.find(voice => voice.name === 'Google US English');

      // Speak the message
      window.speechSynthesis.speak(message);
  }

  // Attach the function to the button click event
  document.getElementById('speakButton').addEventListener('click', speakText);
</script>
{% endblock %}
