{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}
<script>
  // Variable to keep track of displayed tokens
  let displayedTokens = new Set();
  // Function to fetch and update data every 3 seconds
  function fetchAndUpdateData() {
    // Define the URL to fetch data from
    const search_name = encodeURIComponent("{{search_name}}");
    const search_value = encodeURIComponent("{{search_value}}");

    // Define the URL with encoded parameters
    const url = `/marketcap_json/?search_name=${search_name}&search_value=${search_value}`;


    // Make a GET request to fetch data
    fetch(url)
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        console.log('Fetched data:', data); // Log fetched data for debugging

        // Update token count
        document.getElementById('totalTokenCount').textContent = data.total_token_count;

        // Remove the loading GIF if it exists
        const loadingGif = document.getElementById('loadingGif');
        if (loadingGif) {
          loadingGif.remove();
        }

        // Iterate over each token and append new tokens at the top
        data.tokens.reverse().forEach(token => { // Reverse the array to prepend in order
          // Check if token ID is not in displayedTokens set
          if (!displayedTokens.has(token.id)) {
            const tokenListElement = document.getElementById('tokenList');

            const tokenItem = document.createElement('div');
            tokenItem.className = 'col-md-4 token-item';
            tokenItem.innerHTML = `
              <div class="card bg-dark text-white">
                <div class="card-body"> 
                  <div>Ticker: <B>${token.symbol}</B>
                    (<span id="count_${token.mint}_symbol" onclick="getCountByNameAndValue(this.id, \\'symbol\\', \\'${token.symbol}\\')">-</span>)
                  </div>
                  <div>${token.mint}
                    (<span id="count_${token.mint}_bundle" onclick="getCountBundleTrans(this.id, \\'${token.mint}\\')">-</span>)
                  </div>
                  <div>Name: 
                  <a href="javascript:void(0);" onclick="window.open(\'https://www.pump.fun/${token.mint}\', \'newwindow\', \'width=1200, height=2100\'); return false;">${token.name}</a>
                           
                  (<span id="count_${token.mint}_name" onclick="getCountByNameAndValue(this.id, \\'creator\\', \\'${token.name}\\')">-</span>)
                  </div>
                  
                  <div>Image URI: 
                    (<span id="count_${token.mint}_image_uri" onclick="getCountByNameAndValue(this.id, \\'image_uri\\', \\'${token.image_uri}\\')">-</span>)
                    <img src="${token.image_uri}" alt="${token.name}" style="width: 100%;"></div>
                    <div>
                      X: ${token.twitter ? (token.twitter.includes('t.me') ? `<a href="${token.twitter}" target="_blank" style="color: red;">${token.twitter.substring(0, 20)}...</a>` : `<a href="${token.twitter}" target="_blank">${token.twitter.substring(0, 20)}...</a>`) : `<span style="color: red;">NONE</span>`}
                      ${token.twitter ? `(<span id="count_${token.mint}_twitter" onclick="getCountByNameAndValue(this.id, 'twitter', '${token.twitter}')">-</span>)` : ''}
                    </div>

                    <div>
                      Telegram: ${token.telegram ? (token.telegram.includes('x.com') ? `<a href="${token.telegram}" target="_blank" style="color: red;">${token.telegram.substring(0, 20)}...</a>` : `<a href="${token.telegram}" target="_blank">${token.telegram.substring(0, 20)}...</a>`) : `<span style="color: red;">NONE</span>`}
                      ${token.telegram ? `(<span id="count_${token.mint}_telegram" onclick="getCountByNameAndValue(this.id, 'telegram', '${token.telegram}')">-</span>)` : ''}
                    </div>
                  <div>Website: ${token.website ? `<a href="${token.website}" target="_blank">${token.website}</a>` : `<span style="color: red;">NONE</span>`}
                  
                    ${token.website ? `(<span id="count_${token.mint}_website" onclick="getCountByNameAndValue(this.id, 'website', '${token.website}')">-</span>)` : ''}
                  </div>                  
                  <div>Creator: ${token.creator}
                  (<span id="count_${token.mint}_creator" onclick="getCountByNameAndValue(this.id, \\'creator\\', \\'${token.creator}\\')">-</span>)
                  (<span id="count_${token.mint}_creatorbalance" onclick="getCreatorBalance(this.id, \\'${token.creator}\\')">-</span>)
                  </div>
                </div>
              </div>
            `;

            // Prepend token item to tokenListElement
            tokenListElement.insertBefore(tokenItem, tokenListElement.firstChild);

            // Add token ID to displayedTokens set
            displayedTokens.add(token.id);
            getCountByNameAndValue(`count_${token.mint}_name`, 'name', token.name);
            getCountByNameAndValue(`count_${token.mint}_symbol`, 'symbol', token.symbol);
            getCountByNameAndValue(`count_${token.mint}_twitter`, 'twitter', token.twitter);
            getCountByNameAndValue(`count_${token.mint}_telegram`, 'telegram', token.telegram);
            getCountByNameAndValue(`count_${token.mint}_creator`, 'creator', token.creator);
            getCountByNameAndValue(`count_${token.mint}_website`, 'website', token.website);
            getCountByNameAndValue(`count_${token.mint}_image_uri`, 'image_uri', token.image_uri);
            getCountBundleTrans(`count_${token.mint}_bundle`, token.mint);
            getCreatorBalance(`count_${token.mint}_creatorbalance`, token.creator);
          }
        });
      })
      .catch(error => {
        console.error('There was a problem with the fetch operation:', error);
      });
  }

  function getCountBundleTrans(elementId, mintToken) {
  // Construct the URL with the mintToken parameter
  const url = `https://sel.pumpfunclub.com/bundlecheckerview/?&ca_address=${mintToken}`;

  // Perform the fetch operation
  const timeout = 20000; // 10 seconds

// Perform the fetch operation
  fetch(url, { timeout: timeout })
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {
      // Update the count on the page
      const countElement = document.getElementById(elementId);
      if (countElement) {
        countElement.textContent = data.number_of_transactions;
      } else {
        console.error(`Element with id ${elementId} not found.`);
      }
    })
    .catch(error => {
      console.error('Error fetching bundle transaction count:', error);
    });
}

function getCreatorBalance(elementId, mintAddress) {
  // Construct the URL with the mintToken parameter
  const url = `https://sel.pumpfunclub.com/get_wallet_balance/?&wallet_address=${mintAddress}`;

  // Perform the fetch operation
  const timeout = 15000; // 10 seconds

// Perform the fetch operation
  fetch(url, { timeout: timeout })
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {
      // Update the count on the page
      const countElement = document.getElementById(elementId);
      if (countElement) {
        countElement.textContent = data.number_of_transactions;
      } else {
        console.error(`Element with id ${elementId} not found.`);
      }
    })
    .catch(error => {
      console.error('Error fetching bundle transaction count:', error);
    });
}
  // Call fetchAndUpdateData initially
  window.addEventListener('load', fetchAndUpdateData);

  // Set interval to fetch data every 3 seconds
  setInterval(fetchAndUpdateData, 3000); // 3000 milliseconds = 3 seconds
</script>

<!-- Displaying JSON data -->
<section class="py-0">
  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col-md-12">
        The official Pump Fun Club Solana wallet address: 8Tv4jM2MvNrCvRTFTK2DjYJ49fBhwuknJzJNjGKdNKzt  
      </div>
    </div>    
    <div class="row mt-3"> 
      <div class="col-md-12">
        We have recorded <span id="totalTokenCount">{{ total_token_count }}</span> tokens from Pump Fun launches in our database for use in our analytics.
      </div>
    </div>
    <div id="tokenList" class="row mt-3">
      <!-- Tokens will be populated here -->
      <div id="loadingGif" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <img src="https://pumpfunclub.com/static/images/loading.large.gif" alt="Loading Image" style="width: 80%;" />
      </div>
    </div>
  </div>
</section>
<script>
  function getCountByNameAndValue(id, name, value) {
    // Define the base URL
    const baseURL = "/get_count/";

    const encodedName = encodeURIComponent(name);
    const encodedValue = encodeURIComponent(value);

    const url = `${baseURL}?column_name=${encodedName}&value=${encodedValue}`;
      
  
    // Make a GET request to the constructed URL
    fetch(url)
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        // Extract the occurrences count from the response data
        const occurrences = data.occurrences;
        
        // Update the content of the dynamically created span element with the count
        document.getElementById(id).textContent = `${occurrences}`;
        let element = document.getElementById(id);
        if (occurrences > 1) {
          element.style.color = 'red';
        } else {
          element.style.color = 'green';
        }        
      })
      .catch(error => {
        console.error('There was a problem with the fetch operation:', error);
      });
  }
</script>
{% endblock %}
