{% extends 'base.html' %}

{% load custom_filters %}


{% block content %}
<h1>{{ token.name }}</h1>
{% if token.image_uri %}
    <img src="{{ token.image_uri }}" alt="{{ token.name }}" />
{% endif %}
<p><strong>Symbol:</strong> {{ token.symbol }}</p>
<p><strong>Website:</strong> <a href="{{ token.website }}">{{ token.website }}</a></p>
<p><strong>Creator:</strong> {{ token.creator }}</p>
<p><strong>Twitter:</strong> <a href="{{ token.twitter }}">{{ token.twitter }}</a></p>
<p><strong>Telegram:</strong> <a href="{{ token.telegram }}">{{ token.telegram }}</a></p>
<p><strong>Profile Image:</strong> <img src="{{ token.profile_image }}" alt="{{ token.username }}" /></p>
{% endblock %}